@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 15px auto !important;
}
body {
  padding-top: 30px;
}
input {
  margin: 15px auto;
}
.header {
  color: #fff;
  background: #000;
  top: 0;
  position: fixed;
  z-index: 1;
}
.header p {
  font-size: 18px;
  text-align: center;
  margin: 5px;
}
.form-control {
  margin: 15px auto;
}
li.owned-game {
  background-color: #eee;
}
.owned-games img {
  width: auto;
  max-height: 80px;
  margin: 0 15px 0 0;
}
.btn-group, .form {
  margin: 15px 0;
}
.app-section {
  padding: 15px;
}
.gray-background {
  background-color: #eee;
}
